/* zeroed styles */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

hmtl, body {
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
font-weight: 500;
color:#252B42;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
font-family: Montserrat;
}

input, button, textarea {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

/* styles for this particular markup */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit: cover;
}
/*-----------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

.header__menu {
    margin: 0 0 0 133px;
}
@media (max-width: 992px) {
    .header__menu {
        margin: 0 0 0 80px;
    }
}
@media (max-width: 767px) {
    .header__menu {
        margin: 0 0 0 40px;
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin: 0 0 0 20px;
    }
}

.menu {
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item:not(:last-child) {
    margin: 0 21px 0 0;
}

.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
}
@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}
/*---PAGE-------------------------------------*/
.page {
    flex: 1 1 auto;
}

.page__main-block {
}

.page__services {
    margin: -111px 0 0 0;
    position: relative;
    z-index: 2;
}
/*---MAIN-BLOCK-------------------------------------*/


.main-block {
    position: relative;
}

.main-block__container._container {
}

.main-block__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px; /* differs from the mockup so that text could be broken*/
}

@media (max-width: 992px) {
    .main-block__body {
        padding: 120px 0 191px 0; /*occupies free space to not to leave behind blank spots */
    }
    }

.main-block__body > *:not(:last-child) {
    margin: 0 0 35px 0;
}

.main-block__title {
    font-weight: 800;
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    letter-spacing: 0.2px;
}

@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__text {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    color:#737373;
    letter-spacing: 0.2px;
}

@media (max-width: 479px) {
    .main-block__text {
        color: #4e4c4c; /*improves readability on a mobile screen*/
    }
}

.main-block__button-set {
}

.main-block__button-list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block__button-item {
    margin: 10px 0;
}

@media (max-width: 479px) {
    .main-block__button-item {
        flex: 1 1 100%; /*enlarges the buttons when max-width is 379px */
    }
}

@media (min-width: 479px) {
.main-block__button-item:not(:last-child) {
    margin-right: 10px;
}
}

.main-block__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    min-height: 48px;

    border-radius: 37px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(28 / 14 * 100%);
    letter-spacing: 0.2px;
    text-align: center;
    background-color: #FF7B47;
    color: #FFFFFF;
}



.main-block__button-border {
    color: #0D5C63;
    border: 1px solid #0D5C63;
    background-color: transparent;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}

@media (max-width: 1300px) {
.main-block__image img {
object-position: right; /* helps the image to convey the intended context by adjusting picture*/
}
}

@media (max-width: 992px) {
    .main-block__image img {
        opacity: 0.5; /*allows the hero title to be readable*/
    }
    }

/*---FOOTER-------------------------------------*/
.footer {
}

/*---CARD PALETTE-------------------------------------*/
.services {
}

.services__container{
}

@media (min-width: 768px) {
.services__body {
    display: flex;
    flex-wrap: wrap;
    margin: -15px; /*in charge of flex-items margins*/
}
}

/* @media (min-width: 768px) {
    .services__body {
        flex-wrap: nowrap;
    }
} */


.services__column {
    /* padding: 0 15px; in charge of flex-items margins */
    /* flex: 0 1 33.333%; in charge of flex-items margins */
    margin: 15px;
    /* flex-basis: calc((100% - 15px * 6) / 3); */
}

@media (min-width: 768px) {
    .services__column {
        flex-basis: calc((100% - 15px * 4) / 2);
        /* margin: 15px; */
    }
}

@media (min-width: 993px) {
    .services__column {
    flex-basis: calc((100% - 15px * 6) / 3);
    }
}

.services__item {
    box-shadow: 0px 13px 19px 0px #00000012;
    background-color: #FFFFFF;
    /* height: 100%; */
    padding: 35px;
}

@media (max-width: 767px) {
    .services__item {
        height: 100%;
        max-width: 380px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .services__item {
        min-height: 180px;
        max-height: 242px;
    }
}

@media (min-width: 992px) {
    .services__item {
        height: 100%;
    }
}


.item-service {
   
}

.item-service_green {
    background-color: #0D5C63;

}

.item-service_green .item-service__title {
    color: #FFFFFF;
}

.item-service_green .item-service__text {
    color: #FFFFFF;
}

.item-service > *:not(:last-child) {
    margin: 0 0 10px 0;
}

.item-service__icon {
}

.item-service__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    letter-spacing: 0.1px;
}

.item-service__text {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
}